<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <h1>이미지 분류</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="image" onchange="previewImage(this)">
        <input type="button" value="분류하기" onclick="uploadImage()">
    </form>
    <br>
    <img id="preview" width="224" height="224" style="display:none;" >
    <h2 id="prediction"></h2>
    <script>
        function previewImage(input){
            let file = input.files[0];
            let reader = new FileReader();
            reader.onload = function(e){
                $("#preview").attr("src", e.target.result).show();
            }
            reader.readAsDataURL(file);
        }
        function uploadImage(){
            let formData = new FormData($("#uploadForm")[0]);
            $.ajax({
                type : "POST"
                ,url : "/upload"
                ,data : formData
                ,contentType : false
                ,processData : false
                ,success : function(res){
                    $("#prediction").text("prediction: " + res.prediction);
                }
            });
        }
    </script>
</body>
</html>