<!DOCTYPE html>
<html>
<head>
    <title>Anime Recommendation System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='anime.js')}}"></script>
</head>
<body>
    <h1>Anime Recommendation System</h1>
    <form id="searchForm" method="post">
        <label for="anime_title">Enter Anime Title:</label>
        <input type="text" id="anime_title" name="anime_title" required>
        <button type="button" id="btn">Get Recommendations</button>
    </form>
    <h2>Recommended Anime:</h2>
    <ul id="recommendationsList">
    </ul>

    <script>
        $(document).ready(function() {
            $("#btn").click(function(e) {
                var user_input = $("#anime_title").val();
                $.ajax({
                    type: "POST",
                    url: "/recommendations",  // 서버의 엔드포인트를 정확하게 지정해야 합니다.
                    data: { "anime_title": user_input },
                    success: function(data) {
                        alert("응답");
                        displayRecommendations(data);
                    }
                });
            });

            function displayRecommendations(recommendations) {
                var recommendationsList = $("#recommendationsList");
                recommendationsList.empty();
                if (recommendations.length > 0) {
                    $.each(recommendations, function(index, anime) {
                        var listItem = $("<li></li>").html(
                            "<strong>Title:</strong> " + anime.Title + "<br>" +
                            "<strong>Genre:</strong> " + anime.Genre + "<br>" +
                            "<strong>User Rating:</strong> " + anime['User Rating'] + "<br>" +
                            "<strong>Gross:</strong> $" + anime.Gross
                        );
                        recommendationsList.append(listItem);
                    });
                } else {
                    var listItem = $("<li>No recommendations available.</li>");
                    recommendationsList.append(listItem);
                }
            }
        });
    </script>
</body>
</html>