/* header */
#header {
    /* background-color: #666; */
    padding: 1.4vw 1.4vw 2.4vw 1.4vw;
    text-align: right;
}
#header li {
    list-style: none;
    display: inline;
}
#header li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 40px;
    display: inline-block; 
    border-radius: 50%;
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    transition: background-color 0.3s;
}

#header li:nth-child(3n+1) a {
    background-color: #ffadad;
    border-color: #d18e8e;
    color: #ffffff;
}
#header li:nth-child(3n+1) a:hover {
    background-color: #fc8888;
}
#header li:nth-child(3n+2) a {
    background-color: #ffd6a5;
    border-color: #ccab83;
    color: #ffffff;
}
#header li:nth-child(3n+2) a:hover {
    background-color: #fdbf72de;
}
#header li:nth-child(3n+3) a {
    background-color: #bdb2ff;
    border-color: rgb(146, 135, 209);
    color: #ffffff;
}
#header li:nth-child(3n+3) a:hover {
    background-color: #a293f8c5;
}

/* main */
#main {}
/* search__wrap */
.search__wrap {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border: 0.3vw solid #000;
    border-top-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    box-shadow: 1vw 1vw 0px #000;
    transition: box-shadow 0.3s;
    overflow: hidden;
}
.search__wrap:hover {
    box-shadow: 0.5vw 0.5vw 0px #000;
}
.search__header::before {
    content: "";
    width: 90%;
    height: 0.3vw;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-10px);
    border-radius: 5px;
}
.search__header::after {
    content: "";
    width: 90%;
    height: 0.3vw;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(4px);
    border-radius: 5px;
}
.search__header {
    border-bottom: 0.3vw solid #000;
    padding: 0 0 0 3vw;
    background-color: #AF6EE3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search__header .title {
    background: #AF6EE3;
    position: relative;
    z-index: 10;
    padding-right: 35px;
    position: relative;
    padding: 0.6vw 8vw 0.6vw 5vw;
}
.search__header .btn {
    display: flex;
}
.search__header .btn span {
    display: block;
    width: 3vw;
    height: 3vw;
    line-height: 3.9vw;
    position: relative;
    z-index: 10;
    border-left: 0.3vw solid #000;
    box-sizing: content-box;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
}
.search__conts hgroup {
    text-align: center;
    padding: 3vw;
    border-bottom: 0.3vw solid #000;
}
.search__conts hgroup h3 {
    color: #FFEF4A;
    font-size: 8vw;
    text-shadow: 0.4vw 0.4vw 0px #000;
    -webkit-text-stroke: 0.2vw rgb(0, 0, 0);
}
.search__conts hgroup h4 {
    color: #AF6EE3;
    font-size: 6vw;
    text-shadow: 0.3vw 0.3 vw 0px #000;
    -webkit-text-stroke: 0.2vw rgb(0, 0, 0);
}
.search__box {
    text-align: center;
    padding: 3vw 2vw;
}
.search__box label {
    padding: 1vw;
    font-size: 2vw;
    font-family: 'CookieRun';
}
.search__box input {
    border: 0.3vw solid #000;
    box-shadow: 0.3vw 0.3vw 0 #000;
    width: 80%;
    padding: 1vw 2vw;
    border-radius: 50px;
    font-size: 2vw;
    font-family: 'truetype';
    outline: none;

}
.search__info {
    text-align: right;
    padding: 0.3vw 2vw;
    border-bottom: 0.3vw dashed #000;
    border-top: 0.3vw dashed #000;
}
.search__list ul {
    padding: 3vw;
}
.search__list li {
    background-color: #fff;
    list-style: none;
    line-height: 2;
}
.search__list li.hide {
    display: none;
}
/* footer */
#footer {
    text-align: center;
    padding: 3vw;
}
#footer a {
    color: #000;
}
