.message {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background-color: #e6e6e6;
}
#chat-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
   
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 20px auto 0; /* Add this line to create space at the top */
    position: relative;
    z-index: 1;
}
#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}
#user-input {
    display: flex;
    padding: 10px;

}
#user-input input {
    flex: 1;
    padding: 10px;
    outline: none;
}
#user-input button {
    border: none;
    background-color: #1e88e5;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}